Package: com.mtac.telescope
Name: Telescope
Architecture: iphoneos-arm
Description: iOS 15 Photo information for iOS 14
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 1.1
Installed-Size: 172
